.ui.secondary.pointing.menu {
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: white;
}

.article-panel {

  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  h5 {
    color: #545454;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    margin-top: 0;
  }

  p {
    color: rgb(51, 51, 51);
    font-size: 1.2rem;
  }

  ul, ol {
    font-size: 1.1rem;
  }

  ol {
    padding-left: 15px;
  }

  pre {
    padding: 0.5rem 0 0.5rem 1rem;
    border: 1px dashed gray;
    background-color: #f8f8f8;
  }
}

.edit-article-modal {
  .edit-article-form {
    .article-content {
      textarea {
        height: 600px;
      }
    }
  }

  .article-panel {
    height: 600px;
    overflow: auto;
  }
}

.sprints-container {
  a {
    font-size: 1.1rem;
  }
}

// .posts-container {
//   .ui.card {
//     .article-panel {
//       max-height: 300px;
//       overflow: hidden;
//     }
//   }
// }

.timeline-date {
  display: inline-block;
  text-align: center;
  line-height: 1.2rem;

  .day {
    font-size: large;
  }

  .month {
    font-family: "Roboto Condensed", Roboto, sans-serif;
    font-size: small;
  }
}

.sprint-timeline-content {
  .timeline-date {
    .day {
      font-size: x-large;
    }

    .month {
      font-size: large;
    }

    .year {
      font-family: "Roboto Condensed", Roboto, sans-serif;
      font-size: xx-large;
      margin-left: 8px;
    }
  }
}
